@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway+Dots&family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway+Dots&family=Slabo+27px&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background: #000;
}
body {
  min-height: 100vh;
  background: linear-gradient(to right, #1c2e4a, #152238);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*wrapper*/
.wrapper {
  min-height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #000;
  /* border: 1px solid red; */
}
/*header*/
.header {
  /* border: 1px solid red; */
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  transition: all 0.4s ease;
  /* background-color: #262931; */
  background: linear-gradient(to right, #1c2e4a, #152238);
}
.header-content {
  display: flex;
  min-height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  transition: all 0.4s ease;
  /* border: 1px solid brow/n; */
}
.header-content:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 0.3px solid hsl(from #3684ad h s l / 0.8);
}
.logo-container {
  /* border: 1px solid red; */
  padding: 20px;
  /* color: #000; */
  color: #fff;
}
.logo-container h1 {
  font-size: 1.6rem;
}
.nav-container {
  /* border: 1px solid red; */
  padding: 20px;
}
.nav-list-cont {
  display: flex;
  column-gap: 40px;
}
.nav-list {
  /* color: #000; */
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.4s ease;
}
.navl-1:hover {
  color: rgba(255, 255, 255, 0.5);
}
.navl-2 {
  border: 2px solid #5c78fa;
  border-radius: 6px;
  padding: 8px;
}
.navl-2:hover {
  border: 2px solid rgba(92, 121, 250, 0.4);
}
.logo-span {
  font-family: "Raleway Dots", sans-serif !important;
  color: #ed0807;
}

.fixed-nav .header {
  position: fixed;
}
.home-section {
  margin: 90px auto 0 auto;
  /* border: 1px solid green; */
  width: 100%;
  height: calc(100vh - 90px);
  color: #f8f8ff;
  /* background: linear-gradient(to right, #1c2e4a, #152238); */
  background: linear-gradient(to right, #152238, #334154);
}
.home-wrapper {
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 30px;
}
.h-first-section {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  max-width: 50%;
  width: 100%;
  padding: 30px;
}

.h-heading {
  font-size: 4.5rem;
  padding: 10px;
  width: 100%;
  color: #f8f8f8;
  /* border: 1px solid red; */
  span {
    color: #cdff71;
  }
}
.h-p {
  /* border: 1px solid pink; */
  line-height: 1.5;
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  color: #ccc;
  span {
    color: #cdff71;
  }
}
.inner-span,
.inner-span2 {
  font-family: "Raleway Dots", sans-serif;
}
.h-second-section {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  padding: 30px;
  flex: 1;
}

.dropmenu-container {
  /* border: 1px solid palegreen; */
  /* border: 2px solid #5c78fa; */
  border: 2px solid #52b8f7;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}
.dropMenu-label {
  font-size: 1.8rem;
  color: #f8f8ff;
}
.drop-menu {
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: #8ab4f7;
  padding: 3px 5px;
  width: 100px;
  min-width: max-content;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: transparent;
}
.drop-menu:focus {
  outline: 1.5px solid #262931;
  color: #5c78fa;
  border-radius: 3px;
}
.info-Btn {
  font-size: 2rem;
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  text-align: center;
  background-color: #5c78fa;
  color: #f8f8ff;
  transition: all 0.4s ease;
}
.info-Btn:hover {
  color: #5c78fa;
  background-color: #f8f8ff;
}
.info-Btn:active {
  background-color: #333;
}
.form-input {
  background-image: url("/main/public/search-line.png");
  background-repeat: no-repeat;
  font-size: 1.8rem;
  padding: 12px 20px 12px 40px;
  background-position: 10px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #06065a;
  width: 100%;
}
.ss-form {
  /* border: 1px solid yellow; */
  width: 100%;
  /* padding: 5px; */
  border-radius: 5px;
  max-width: 100%;
  min-width: 300px;
}
.about-section {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 400px;
  color: #f8f8ff;
  background: linear-gradient(to right, #152238, #3684ad);
}
.about-wrapper {
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.about-heading {
  font-size: 4.5rem;
}
.ri-error-warning-line {
  font-size: 4.5rem;
  color: #ed0807;
}
.about-p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}
.about-p-cont {
  /* border: 2px solid olive; */
  padding: 10px;
  width: calc(100% - 300px);
  text-align: center;
}
.inner-span3,
.inner-span4 {
  color: #cdff71;
}
.inner-span5 {
  color: #d7e4a6;
}
.footer {
  height: 90px;
  color: #f8f8f8;
  background: linear-gradient(to right, #152238, #121212);
}
.footer-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.footer-top p {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;

  column-gap: 10px;
  padding: 20px;
  color: #5c78fa;
}
.footer-bottom {
  display: flex;
  /* border: 1px solid palegreen; */
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  padding: 20px;
}
.box3-linkden,
.box3-github {
  font-size: 1.5rem;
  color: rgba(212, 237, 247, 0.5);
  transition: all 0.4s ease;
}
.ri-star-smile-line {
  color: yellow;
}
.box3-linkden:hover,
.box3-github:hover {
  color: #d4eef8;
}
.footer-top p::selection {
  color: #f8f8ff;
}

.button {
  appearance: none;
  color: #f8f8f8;
  outline: none;
  border: none;
  font-size: 2rem;
  display: inline-block;
  background-color: #5c78fa;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.4s;
  background: linear-gradient(to right, #475569, #262931);
}
.popup.is-active {
  opacity: 1;
  pointer-events: all;
}
.popup-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  position: relative;
  max-width: 600px;
  width: 100%;
  background-color: #334154;
  padding: 50px 30px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.popup h2 {
  /* color: rgba(255, 194, 204, 0.8); */
  color: #ffddd6;
  font-size: 28px;
  font-weight: 600;
}

.popup p {
  font-size: 1.6rem;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  /* color: #8ab4f7; */
  color: #fff4df;
}
.popup p:last-of-type {
  margin-bottom: 30px;
}
.ri-close-circle-fill {
  pointer-events: none;
}
.fa-circle-exclamation {
  font-size: 4rem;
  margin-bottom: 15px;
  align-self: center;
  color: #ffa652;
  /* transform: rotate(15deg); */
  animation: circle 2s ease infinite;
  animation-delay: 3s;
}
@keyframes circle {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.no-scroll {
  overflow-y: hidden;
  touch-action: none;
}

/*info section css*/
.info-section {
  /* border: 1px solid red; */
  width: 100%;
  /* height: 600px; */
  height: 100%;
  /* height: max-content; */

  font-family: "Inter", sans-serif;
  color: #f8f8f8;
  background: linear-gradient(
    to left,
    rgba(55, 133, 174, 0.3),
    rgba(14, 16, 22, 0.5)
  );

  /* overflow: hidden; */
}
.img1 {
  /* width: 900px; */
  /* height: 500px; */
  height: 100%;
  width: 100%;
}
.info-top-inner .radioBtn,
.info-middle-inner .radioBtn,
.info-bottom .radioBtn {
  display: none;
}
.info-list {
  max-width: 90%;
  min-width: max-content;
  /* height: 600px; */
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  /* border: 1px solid yellow; */
  border-radius: 10px;
  padding: 30px 0;
}
.info-container {
  width: 600px;
  height: 450px;
  /* height: 100%; */

  /* height: 600px; */
  /* border: 1px solid blue; */
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  /**/
}

.info-top {
  /*as slider*/
  /* width: 900px; */
  width: 100%;

  height: 100%;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  /* background: #151725; */
  background: rgba(20, 22, 38, 0.5);
  position: relative;
}
.info-top-inner {
  width: 500%;
  /* display: flex; */
  height: 100%;
  display: flex;
  /* column-gap: 20px; */
  /* justify-content: center; */
  /* align-items: center; */
}
.top-inner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  /* max-width: max-content; */
  row-gap: 10px;
  /* max-width: max-content; */
  /* width: 900px; */
  /* width: 100%; */

  /* height: 500px; */
  /* max-width: max-content; */
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
  border-radius: 16px;
  padding: 20px;
}
.top-inner1-cont1 {
  display: flex;
  /* border: 1px solid palegreen; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  row-gap: 10px;
  font-family: "Raleway Dots", sans-serif;
  h1 {
    font-size: 3rem;
    /* color: #ff6467; */
    color: #a8d3e6;
  }
  h3 {
    color: #ccf4fe;
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    color: #f8f8ff;
  }
}
.inner1-cont1-div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.top-inner1-cont2 {
  width: 350px;
  /* max-width: max-content; */
  /* width: 100%; */
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid goldenrod; */
  padding: 10px;
}
.top-inner2 {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: max-content; */
  /* width: 900px; */
  padding: 20px;
  border-radius: 16px;
  row-gap: 5px;

  width: 100%;
  height: 100%;
}

.top-inner2-cont1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid wheat; */
  font-family: "Raleway Dots", sans-serif;
  padding: 8px;
  color: #fff;

  p {
    font-size: 2rem;
  }
  p:first-of-type {
    color: #fead21;
  }
}
.top-inner2-cont1 p:last-child {
  display: flex;
  column-gap: 5px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid saddlebrown; */

  i {
    margin-left: 5px;
    /* color: green; */
    background-color: yellow;
    border-radius: 50%;
    color: #000;
  }
}
.top-inner2-cont2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  padding: 5px;
  row-gap: 5px;
  font-family: "Raleway Dots", sans-serif;
}
.inner2-cont2-div1,
.inner2-cont2-div2 {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 5px;
  width: 100%;
  color: #fff;
  /* border: 1px solid red; */
  padding: 3px;
  p {
    font-size: 2rem;
  }
  p:first-of-type {
    color: #fead21;
  }
}

.ri-add-circle-fill {
  font-size: 2rem;
  color: #85b7fb;
}
.top-inner1,
.top-inner2,
.middle-inner1,
.middle-inner2,
.bottom-inner1,
.bottom-inner2 {
  width: 20%;
  transition: 2s;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
/* input[type="radio"]:checked {
} */
.manual-btn {
  border: 2px solid #ccc;
  padding: 5px;
  /* border-radius: 1000px; */
  cursor: pointer;
  transition: 1s;
  border-radius: 50%;
}
.manual-nav {
  position: absolute;
  width: 600px;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid slateblue; */
  border-radius: 16px;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: antiquewhite;
}
/*middle*/
.info-top,
.info-middle,
.info-bottom {
  transition: 2s;
}

.info-middle {
  /* border: 1px solid steelblue; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  font-family: "Raleway Dots", sans-serif;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  /* background: #151725; */
  background: rgba(20, 22, 38, 0.5);
}
.info-middle-inner {
  width: 500%;
  height: 100%;
  display: flex;
}
.middle-inner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 10px;
  /* border: 1px solid yellow; */

  border-radius: 16px;
  padding: 20px;
  color: #fff;
}
.m-inner1-dateCont {
  /* border: 1px solid purple; */
  width: 100%;
  display: flex;
  column-gap: 5px;
  font-size: 1.8rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
  p:first-of-type {
    color: #baeeee;
  }
  p:last-of-type {
    color: #f8f8f8;
  }
}
.m-inner1-timeCont {
  /* border: 1px solid powderblue; */
  width: 100%;
  display: flex;
  column-gap: 5px;
  font-size: 1.8rem;
  padding: 5px;
  justify-content: center;
  align-items: center;
  p:first-of-type {
    color: #baeeee;
  }
  p:last-of-type {
    color: #f8f8f8;
  }
}
.m-inner1-link {
  font-size: 1.8rem;
  /* color: #fff; */
  color: #baeeee;
  /* border: 1px solid pink; */
  text-align: center;
  padding: 5px;
}
.m-inner1-pSalesCont {
  /* border: 1px solid snow; */
  width: 100%;
  font-size: 1.8rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  p:not(:first-child) {
    color: #baeeee;
    span {
      color: #f8f8f8;
    }
  }
  p:first-child {
    color: #fff4b6;
  }
}
.middle-inner2 {
  display: flex;
  border-radius: 16px;
  row-gap: 5px;
  /* border: 1px solid peru; */
}
.m-inner2-cont {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid lightcoral; */
  /* height: 100%; */
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  overflow-y: auto;
  padding: 25px;
  row-gap: 20px;
  color: #fff;
}
.presale-cont {
  /* border: 1px solid sandybrown; */
  /* border: 1px solid #5c78fa; */
  border: 1px solid rgba(92, 121, 250, 0.6);
  width: 100%;
  font-size: 1.8rem;
  padding: 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* column-gap: 5px; */
  .provide-name {
    color: #ffbab9;
  }
}
.inner2-label {
  /* border: 1px solid seashell; */
  font-size: 1.8rem;
  padding: 5px;
  width: 100%;
  text-align: center;
  /* color: #fead21; */
  color: #52b8f7;
}
.info-top::before,
.info-middle::before {
  content: "\ea4b";
  background-color: #f8f8f8;
  opacity: 0.5;
  border-radius: 50%;
  color: #262931;
  position: absolute;
  bottom: 5px;
  left: 3px;
  font-size: 2rem;
  font-family: "remixicon";
}
#radio3:checked ~ .first {
  margin-left: 0;
}
#radio4:checked ~ .first {
  margin-left: -20%;
}

/*bottom*/
.info-bottom {
  /* border: 1px solid steelblue; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: rgba(20, 22, 38, 0.4);
  font-family: "Raleway Dots", sans-serif;
}
.info-bottom-inner {
  width: 500%;
  height: 100%;
  display: flex;
}
.bottom-inner1 {
  /* border: 1px solid magenta; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  /* row-gap: 20px; */
}
.bottom-inner2 {
  /* border: 1px solid salmon; */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.bottom-inner1 .b-inner1-cont,
.bottom-inner2 .b-inner2-cont {
  border-radius: 5px;
  background-color: #016f5c;
  margin: 10px 0;
  overflow: hidden;
  max-height: 100%;
  width: 100%;
}

.bottom-inner1.open .b-inner1-cont,
.bottom-inner2.open .b-inner2-cont {
  padding-bottom: 10px;
}
.b-inner1-cont header,
.b-inner2-cont header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  font-size: 1.6rem;
  min-height: 50px;
  background-color: steelblue;
  transition: all 0.3s linear;
  color: #f8f8f8;
}
.b-inner1-cont header i,
.b-inner2-cont header i {
  font-size: 1.6rem;
}
.b-inner1-cont.open header,
.b-inner2-cont.open header {
  min-height: 35px;
}
.b-inner1-cont .information,
.b-inner2-cont .information {
  color: #f8f8f8;
  padding: 0 15px;
  height: 0;
  transition: all 0.3s linear;
  font-size: 1.6rem;
  line-height: 1.5;
}
.information {
  overflow-y: scroll;
  max-height: 250px;
}
.b-inner1-cont .information2 .info-ul,
.b-inner2-cont .information2 .info-ul {
  color: #ccc;
  padding: 0 15px;
  /* height: 0; */
  transition: all 0.3s linear;

  font-size: 1.6rem;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  line-height: 1.5;
}
.information2 {
  max-height: 250px;
  transition: all 0.3s linear;
  overflow-y: scroll;
  height: 0;
}
.info-bottom::before {
  content: "\ea75";
  background-color: #f8f8f8;
  opacity: 0.5;
  border-radius: 50%;
  color: #262931;
  position: absolute;
  bottom: 5px;
  left: 3px;
  font-size: 2rem;
  font-family: "remixicon";
}
#radio5:checked ~ .first {
  margin-left: 0;
}
#radio6:checked ~ .first {
  margin-left: -20%;
}

/*tooltip*/
.tooltip {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  top: 150%;
  background-color: #fead21;
  color: #000;
  padding: 5px;
  font-size: 1.3rem;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.5s ease;
}
.dropmenu-container:hover .tooltip:not(.disabled-tooltip) {
  opacity: 1;
  visibility: visible;
}
.tooltip.disabled-tooltip {
  opacity: 0;
  visibility: hidden;
}

.tooltip::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  bottom: 100%;
  border-color: transparent transparent #fead21 transparent;
}
/*radio classes*/

/*for first input*/
.info-top-inner input[type="radio"]:first-of-type:checked ~ .first,
.info-middle-inner input[type="radio"]:first-of-type:checked ~ .first,
.info-bottom-inner input[type="radio"]:first-of-type:checked ~ .first {
  margin-left: 0;
}

/* For the second input in each container */
.info-top-inner input[type="radio"]:last-of-type:checked ~ .first,
.info-middle-inner input[type="radio"]:last-of-type:checked ~ .first,
.info-bottom-inner input[type="radio"]:last-of-type:checked ~ .first {
  margin-left: -20%;
}
/*Media Queries/Responsiveness*/
@media screen and (max-width: 1023px) {
  .home-wrapper {
    /* border: 1px solid red; */
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 100%;
  }
  .h-first-section {
    /* border: 1px solid green; */
    row-gap: 20px;
    max-width: none;
    width: 100%;
  }
  .h-second-section {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 30px;
    flex: none;
  }

  .h-heading {
    font-size: 4.5rem;
    padding: 10px;
    width: 100%;
    color: #f8f8f8;
    /* border: 1px solid red; */
    text-align: center;
    span {
      color: #cdff71;
    }
  }
  .h-p {
    /* border: 1px solid pink; */
    text-align: center;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    color: #ccc;
    span {
      color: #cdff71;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-p-cont {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .footer-wrapper {
    max-width: 100%;
  }
  .footer-top p {
    align-items: center;
    text-align: center;
  }
  /*Info section*/
  .info-list {
    min-width: 100%;
    max-width: 100%;
    height: 100%;

    /* border: 1px solid yellow; */
  }
  .info-container {
    height: 450px;
    width: 100%;
  }
  /*ok*/
  .info-top-inner {
    width: 500%;
    height: 100%;
    display: flex;
  }

  .top-inner1-cont1 {
    h1 {
      font-size: 2.1rem;

      color: #a8d3e6;
    }
    h3 {
      color: #ccf4fe;
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
      color: #f8f8ff;
    }
  }

  .manual-nav {
    width: 100%;
    /* border: 1px solid lightblue; */
  }
  /*ok2*/
  .info-Btn {
    font-size: 1.6rem;
  }

  .form-input {
    font-size: 1.6rem;
  }

  .about-heading {
    font-size: 2.1rem;
  }
  .ri-error-warning-line {
    font-size: 3.5rem;
    color: #ed0807;
  }
  .dropMenu-label {
    font-size: 1.6rem;
  }
  .h-heading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 495px) {
  .b-inner1-cont .information,
  .b-inner2-cont .information {
    color: #f8f8f8;
  }

  .b-inner1-cont .information2 .info-ul,
  .b-inner2-cont .information2 .info-ul {
    color: #f8f8f8;
  }

  .b-inner1-cont header,
  .b-inner2-cont header {
    /* background-color: steelblue; */
    background-color: #121212;

    color: #e7f0fe;
  }
}
.noValue-Error::placeholder {
  color: red;
}
